.user-btn{
    font-weight: 600;
    border-radius: 8px;
    border: transparent;
    padding: 3px 6px;
    background-color: coral;
    transition: all 0.4s ease;
}

.user-btn:hover{
    transform: scale(1.1);
    background-color: #b25838;
}

.animateText{
    animation-name: fadeInUp;
    animation-duration: 0.5s;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}